<!-- Hero -->
<h3 class="mt-10 mb-4 text-gray-800 prose-2xl font-bold ani">{% translate "Finde hier deinen neuen " %}<span class="text-blue-500">{% translate "Unijob!" %}</span></h3>
<!-- Form -->
<form action="{% url 'jobs.suche' %}" method="GET" class="flex flex-row place-content-center w-11/12 lg:w-7/12 mt-6 mb-20">
  <input type="text" class="p-3 flex-1 text-blue-600 font-semibold" id="search" name="q" 
    placeholder="{% translate 'z.B. Universitätsassistent Wien...' %}" value="{{ search_input }}">
  <button type="submit" class="border border-blue-700 w-12 bg-blue-200 hover:bg-blue-300">🔍</button>
</form>