<!DOCTYPE html>
<html language="de">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/tailwind.css"/>
    <style>
    </style>
  </head>
  <body class="min-h-screen bg-gray-200">

   <!-- Navigation -->
   <hr class="h-1 border border-blue-500  bg-blue-500" />
   <nav class="flex flex-row bg-gray-900 text-white justify-between h-12 py-2 px-4">
     <h1 class="text-lg font-bold ani"><a href="/">UniJobs</a></h1>
     <ul class="flex space-x-4 font-bold">
       <li><a href="/"><span class="border-b-4 border-blue-500">🇦🇹</span></a></li>
       <li><a href="/en">🇬🇧</a></li>
     </ul>
   </nav>

    {% block content %}
    {% endblock %}
  </body>
</html>